:root {
  --box-shadow: 5px 5px 10px 10px rgb(231, 0, 138);
  --brown: #111111;
  --pinky: #e7008a;
  --main: #fff;
}
* {
  background-color: var(--brown);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
}

/* navbar */
.navbars .navbars_brand {
  color: var(--main);
  padding-top: 12px;
  font-size: 20px;
  font-weight: 700;
}
.navbars .navbars_brand:hover {
  color: var(--pinky);
}
.navs .linkss {
  color: var(--main);
  padding-top: 12px;
  font-size: 16px;
}
.navs .linkss:hover {
  color: var(--pinky);
}
.navs .linkss:checked {
  color: var(--pinky);
}

/* intro */
.intro {
  padding-top: 100px;
  text-align: center;
}
.intro h3 {
  color: var(--pinky);
  font-size: 34px;
}
.intro .imgs {
  width: 150px;
  border-radius: 100%;
  margin-top: 20px;
}
.intro .hire-a{
  text-decoration: none;
  background-color: var(--brown);
  color: var(--main);
}
.intro .resume-a{
  text-decoration: none;
  background-color:var(--pinky);
  color: var(--brown);
}
.intro .btn-hire {
  border-color: var(--pinky);
  color: white;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 6px 24px;
  font-size: 18px;
}
.intro .btn-resume {
  border-color: transparent;
  background-color: var(--pinky);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 6px 24px;
  font-size: 18px;
}
.intro .skills {
  padding-top: 20px;
  padding-bottom: 40px;
  color: var(--main)fff;
  font-size: 18px;
}

/* About me */
.abt {
  margin-top: 30px;
}
.abt h5 {
  margin-bottom: 60px;
  color: var(--pinky);
}
.abt .brand-name {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  border-radius: 10px;
  border: 2px solid var(--pinky);
  animation-name: superman;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  color: var(--main)fff;
}
.abt .brand-name p {
  color: #adadad;
}

@keyframes superman {
  0% {
    border-color: #535353;
    transform: translate(0, 0px);
    box-shadow: 3px 3px 5px 5px rgb(231, 0, 138);
  }
  25% {
    border-color: #acacac;
    box-shadow: 4px 4px 5px 5px #292929;
  }
  50% {
    border-color: #292929;
    transform: translate(0, 5px);
    box-shadow: 4px 4px 5px 5px var(--pinky);
  }
  75% {
    border-color: var(--main)fff;
    box-shadow: 4px 4px 5px 5px #292929;
  }
  100% {
    border-color: #575757;
    transform: translate(0, -5px);
    box-shadow: 4px 4px 5px 5px var(--pinky);
  }
}

.abt .abt-card {
  background-color: var(--brown);
  border: 2px solid #272727;
  color: #c0c0c0;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.abt .abt-card p {
  line-height: 35px;
  font-size: 17px;
}

/* Experience */

.exp-container .exp-title {
  margin-top: 100px;
  color: var(--pinky);
}
.exp-container .exp-card {
  background-color: var(--brown);
  color: #9e9e9e;
}
.exp-container .exp-card h5 {
  color: #d6d6d6;
  font-size: 20px;
}
.exp-container .exp-card h6 {
  font-size: 18px;
  color: #888787;
}
.exp-container p {
  color: #d4d4d4;
  font-size: 15px;
  line-height: 25px;
}
.exp-container h4 {
  color: #888787;
  font-size: 15px;
  font-weight: 700;
}

/* Project */
.project-container h5 {
  color: var(--pinky);
}
.project-container p {
  font-size: 15px;
  color: #888787;
}

/* Contact */
.contact h5 {
  color: var(--pinky);
  margin-top: 40px;
}
.contact p {
  line-height: 15px;
  font-size: 16px;
}

/* Footer */
.footer-section p {
  margin-top: -50px;
  color: var(--main);
  font-size: 16px;
}

@media (max-width: 578px) {
  .intro .imgs {
    width: 120px;
    border-radius: 100%;
    margin-top: 10px;
  }
  .intro button {
    margin-bottom: 70px;
  }
  .intro .skills {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 13px;
  }  
  .abt .abt-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .abt .brand-name {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 10px;
    animation-name: none;
    margin-bottom: 20px;
  }
  .abt .abt-card {
    margin-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact p {
    line-height: 15px;
    font-size: 15px;
  }
  .contact .contact-phone{
    margin-bottom: 70px;
  }
  .footer-section p {
    margin-top: 30px;
    color: var(--main);
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .abt .abt-card {
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
  }
  .footer-section p {
    margin-top: 10px;
  }
}
